<div class="container bg-dark">

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 ">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" value="{{user.name}}" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Correo Institucional</label>
                <input type="text" class="form-control" value="{{user.email}}" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Direccion</label>
               <input type="text" class="form-control" value="{{user.direccion}}" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Puesto</label>
                <input type="text" class="form-control" value="{{user.rango}}" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                <input type="text" class="form-control" value="{{user.telefono}}" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Status</label>
                <input type="text" class="form-control" value="{{user.status}}" aria-label="readonly input example"
                    readonly>
            </div>

            <a href="javascript:history.back()" class="btn btn-danger">Volver</a>

        </div>
        <div class="col-2">

        </div>
    </div>
    <br>
</div>